.title {
  text-align: center;
  font-family: 'lobster', cursive;
}

.term {
  border-radius: 15px;
  text-align: center;
  width: auto;
  margin: auto;
  margin-top: 100px;
  font-size: 150px;
  
}

.definition {
  border-radius: 15px;
  text-align: center;
  width: auto;
  margin: auto;
  margin-top: 100px;
  font-size: 150px;
  display: none;
}

.button {
  text-align: center;
  margin-top: 100px ;
}

button {
  color: white;
  background-color: rgb(83, 235, 83);
  padding: 20px;
  border-radius: 15px;
}

button:hover {
  transform: scale(1.1);
}